{% extends 'base.html'%}
{% block content %}

<h2>Files</h2>
<a class="btn btn-yak" href="{% url 'file_upload' %}" style="color: {{company.colour_text}}; background-color: {{ company.colour }};">Upload File</a>
<br>
<hr>
    {% for item in company.files %}
        <h3>{{ forloop.counter }}. {{ item }}</h3>
        {% if item.document %}
            Link: <a href="{{ item.document.url }}" target="_blank">{{item.name }}</a><br>
        {% endif %}
        Upload: {{item.time_stamp|date:"j M Y (g:i)"}}<br>
        Contents: {{ item.type }}<br><br>

        {{ item.html_people | safe }}
        {{ item.html_questions | safe }}
        {{ item.html_pings | safe }}
        {{ item.html_logic | safe }}
<br>
        {% if item.message %}
            <div class="alert alert-danger"><strong><p>Warning!</p></strong><ol>{{ item.message | safe }}</ol>
            {% if item.type not in item.sheets %}
                <p>The available sheets are listed below. Change one of these to '{{ item.type }}'.</p>
                <ul>
                {% for sheet in item.sheets %}
                    <li>{{sheet}}</li>
                {% endfor %}
                </ul>
            {% endif %}
            </div>
        {% else %}
            <a href="{% url 'file_to_db' item.id %}" class='btn btn-yak' style="color: {{company.colour_text}}; background-color: {{ company.colour }};">Load into DB</a>
        {% endif %}
        <a class="btn btn-yak" href="{% url 'delete' 'file' item.id %}" style="color: {{company.colour_text}}; background-color: {{ company.colour }};">Delete File</a>

<br><br>
        <hr>
    {% endfor %}
<br><br>
{% endblock %}