{% extends 'base.html'%}
{% block content %}

<h1>Development</h1>

<table class='table table-hover table-bordered'>
    <tr style="color: {{general.colour_text}}; background-color: {{ general.colour }};"><th>Item</th><th>Priority</th><th>Owner</th><th>Action</th></tr>
    {% for item in items %}
    {% if item.open %}
        <tr>
            <td>{{ item.name }}</td>
            <td>
                <a href="{% url 'toggle_value' item.id 'priority_down' %}">-</a>
                 {% if item.priority == 10 %}Pre go-live{% else %}{{ item.priority }}{% endif %}
                <a href="{% url 'toggle_value' item.id 'priority_up' %}">+</a>
            </td>
            <td><a href="{% url 'toggle_value' item.id 'owner' %}">{{ item.owner }}</a></td>
            <td>
                <a class="btn btn-sm" href="{% url 'toggle_value' item.id 'open' %}" style="color: {{general.colour_text}}; background-color: {{ general.colour }};">Close</a>
                <a class="btn btn-sm" href="{% url 'edit' model_str item.id %}" style="color: {{general.colour_text}}; background-color: {{ general.colour }};">Edit</a>
            </td>
        </tr>
    {% endif %}
    {% endfor %}
</table>
<a class="btn btn-sm" href="{% url 'new' model_str %}" style="color: {{general.colour_text}}; background-color: {{ general.colour }};">New</a><br><br>

<h2>Closed Items</h2>
<table class='table table-hover table-bordered'>
    <tr style="background-color: {{ general.colour }};"><th>Item</th><th>Priority</th><th>Action</th></tr>
    {% for item in items %}
    {% if not item.open %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.priority }}</td>
            <td>
                <a class="btn btn-sm" href="{% url 'toggle_value' item.id 'open' %}" style="color: {{general.colour_text}}; background-color: {{ general.colour }};">Re-open</a>
                <a class="btn btn-sm" href="{% url 'delete' model_str item.id %}" style="color: {{general.colour_text}}; background-color: {{ general.colour }};">Delete</a>
        </td>
        </tr>
    {% endif %}
    {% endfor %}
</table>


{% endblock %}